
body{
    margin: 0;
    background-image: url(./signup.png);
    background-size: 100%;
    font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

}

a{
    text-decoration: none;
    color: inherit;
}

.content-principal{
    display: grid;
    justify-content: center;
    margin-top: 320px;

}

h1{
    color: #8468F5;
    font-size: 48px;

}

.button-start{

    background: var(--l3, linear-gradient(198deg, #8468F5 30.76%, #EC74E7 132.15%));
    color:#ffffff;
}

.login{
    color: #8468F5;
    border: 1px solid;
    box-shadow: 2px ;
    margin-top: 14px;
}

.login,.button-start{

    text-align: center;
    padding: 16px 32px;
    font-size: 18px;
    border-radius: 24px;

}

p{
    text-align: center;
    color: #A0A4A8;
}

p  a  {
    color: #8468F5;
}